{% extends 'peliculas/base.html' %}

{% block content %}
    <h2 style="justify-content: center; padding-left: 550; padding-top: 20;">Nueva Pelicula</h2>
    <div class="abs-center" style=" display: flex;   padding-top: 49px;   justify-content: center;" >
    <form method="POST" class="border p-3 form" style="background-color: #cfd3ce; padding-bottom:100px;   width: 450px;" >{% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
{% endblock %}